/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b9bbbe;
  border-radius: 13px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5865f2;
  border-radius: 13px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5865f2b0;
}
